<link rel="stylesheet" href="room-stylesheets/tooplate-main.css">
    <!-- Items Starts Here -->
    <div class="featured-page">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12">
            <div class="section-heading">
              <div class="line-dec"></div>
              <h1>Standard Rooms</h1>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            <div id="filters" class="button-group">
              <button class="btn btn-primary" data-filter="*">All Products</button>
              <button class="btn btn-primary" data-filter=".new">Newest</button>
              <button class="btn btn-primary" data-filter=".low">Low Price</button>
              <button class="btn btn-primary" data-filter=".high">Hight Price</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="featured container no-gutter">

        <div class="row posts">
            <div id="1" class="item new col-md-4">
              <a href="/rooms/1">
                <div class="featured-item">
                  <img src="room-images/room-01.jpg" alt="">
                  <h4>Room 01</h4>
                  <h6>$68.00/night</h6>
                </div>
              </a>
            </div>
            <div id="2" class="item high col-md-4">
              <a href="/rooms/1">
                <div class="featured-item">
                  <img src="room-images/room-02.jpg" alt="">
                  <h4>Room 02</h4>
                  <h6>$175.00/night</h6>
                </div>
              </a>
            </div>
            <div id="3" class="item low col-md-4">
              <a href="/rooms/1">
                <div class="featured-item">
                  <img src="room-images/room-03.jpg" alt="">
                  <h4>Room 03</h4>
                  <h6>$25.00/night</h6>
                </div>
              </a>
            </div>
            <div id="4" class="item low col-md-4">
              <a href="/rooms/1">
                <div class="featured-item">
                  <img src="room-images/room-04.jpg" alt="">
                  <h4>Room 04</h4>
                  <h6>$45.00/night</h6>
                </div>
              </a>
            </div>
            <div id="5" class="item new high col-md-4">
              <a href="/rooms/1">
                <div class="featured-item">
                  <img src="room-images/room-05.jpg" alt="">
                  <h4>Room 05</h4>
                  <h6>$259.00/night</h6>
                </div>
              </a>
            </div>
            <div id="6" class="item new col-md-4">
              <a href="/rooms/1">
                <div class="featured-item">
                  <img src="room-images/room-06.jpg" alt="">
                  <h4>Room 06</h4>
                  <h6>$65.00/night</h6>
                </div>
              </a>
            </div>
            <div id="7" class="item new high col-md-4">
              <a href="/rooms/1">
                <div class="featured-item">
                  <img src="room-images/room-07.jpg" alt="">
                  <h4>Room 07</h4>
                  <h6>$275.00/night</h6>
                </div>
              </a>
            </div>
            <div id="8" class="item low new col-md-4">
              <a href="/rooms/1">
                <div class="featured-item">
                  <img src="room-images/room-08.jpg" alt="">
                  <h4>Room 08</h4>
                  <h6>$50.00/night</h6>
                </div>
              </a>
            </div>
            <div id="9" class="item new col-md-4">
              <a href="/rooms/1">
                <div class="featured-item">
                  <img src="room-images/room-09.jpg" alt="">
                  <h4>Room 09</h4>
                  <h6>$95.00/night</h6>
                </div>
              </a>
            </div>
        </div>
    </div>

    <div class="page-navigation">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li class="current-page"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
      <script src="room-javascripts/jquery.min.js"></script>
    <!-- Featred Page Ends Here -->
