<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Site Metas -->
    <title>Royal Tulip - Luxury Hotel</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <!-- Site CSS -->
    <link rel="stylesheet" href="/style.css">
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="/stylesheets/versions.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/stylesheets/responsive.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheets/custom.css">

   <link href="/room-stylesheets/bootstrap.min.css" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/room-stylesheets/fontawesome.css">

    <link rel="stylesheet" href="/room-stylesheets/owl.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
    <!-- Modernizer for Portfolio -->
    <script src="/javascripts/modernizer.js"></script>

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="host_version">
  <div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header tit-up">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">MEMBERSHIP SIGN UP</h4>
      </div>
      <div class="modal-body customer-box">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
          <li><a class="active" href="#Registration" data-toggle="tab">Basic information</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
          <div class="tab-pane active show" id="Registration">
            <form role="form" class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-12">
                  <input class="form-control" id="name" placeholder="Name" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input class="form-control" id="mobile" placeholder="Mobile" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input class="form-control" id="name_bank" placeholder="Bank name" type="text">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-12">
                  <input class="form-control" id="bank_account_num" placeholder="Bank account number" type="text">
                </div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <button type="button" class="btn btn-light btn-radius btn-brd grd1">
                    Confirm &amp; Continue to Bank
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>

    <!-- LOADER -->
  <div id="preloader">
    <div class="loader-container">
      <div class="progress-br float shadow">
        <div class="progress__item"></div>
      </div>
    </div>
  </div>
  <!-- END LOADER -->

  <!-- Start header -->
  <header class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img src="/images/logo-hotel.png" alt="" />
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-host" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbars-host">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#overviews">About Us</a></li>
            <li class="nav-item"><a class="nav-link" href="#footer_id">Contact</a></li>
            <li class="nav-item"><a class="nav-link" href="/rooms">Book Room</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Log Out</a></li>
          </ul>

        </div>
      </div>
    </nav>
  </header>

<!--End of header -->



  {{{body}}}



<!--Start of footer of header -->

  <footer class="footer" id="footer_id">
      <div class="container">
          <div class="row">
              <div class="col-lg-4 col-md-4 col-xs-12">
                  <div class="widget clearfix">
                      <div class="widget-title">
                          <h3>About US</h3>
                      </div>
                      <p> This is a group project coding the front and back-end of a service website. Our group took the template from CSSFree so pay them a visit!</p>
                      <p> This is a 3 members group project for our Web Development class.</p>
                  </div><!-- end clearfix -->
              </div><!-- end col -->

      <div class="col-lg-4 col-md-4 col-xs-12">
                  <div class="widget clearfix">
                      <div class="widget-title">
                          <h3>Information Link</h3>
                      </div>
                      <ul class="footer-links">
                          <li><a href="#">Home</a></li>
                          <li><a href="#">Pricing</a></li>
                          <li><a href="#">About</a></li>
                          <li><a href="#">Contact</a></li>
                      </ul><!-- end links -->
                  </div><!-- end clearfix -->
              </div><!-- end col -->

              <div class="col-lg-4 col-md-4 col-xs-12">
                  <div class="widget clearfix">
                      <div class="widget-title">
                          <h3>Contact Details</h3>
                      </div>

                      <ul class="footer-links">
                          <li><a href="mailto:#">19120190@student.hcmus.edu.vn</a></li>
                          <li><a href="#">www.facebook.com</a></li>
                          <li>PO Box 16122 Collins Street West Victoria 8007 Australia</li>
                          <li>+61 3 8376 6284</li>
                      </ul><!-- end links -->
                  </div><!-- end clearfix -->
              </div><!-- end col -->

          </div><!-- end row -->
      </div><!-- end container -->
  </footer><!-- end footer -->

  <div class="copyrights">
      <div class="container">
          <div class="footer-distributed">
              <div class="footer-left">
                  <p class="footer-company-name">All Rights Reserved. &copy; 2018 <a href="#">Royal Tulip</a> Design By : <a href="https://html.design/">html design</a></p>
              </div>

              <div class="footer-right">
                  <ul class="footer-links-soi">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-github"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
        </ul><!-- end links -->
              </div>
          </div>
      </div><!-- end container -->
  </div><!-- end copyrights -->

  <a href="#" id="scroll-to-top" class="dmtop global-radius"><i class="fa fa-angle-up"></i></a>
<!--End of footer -->

    <!-- ALL JS FILES -->

    <script src="/room-javascripts/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="/room-javascripts/custom.js"></script>
    <script src="/room-javascripts/owl.js"></script>
    <script src="/room-javascripts/isotope.js"></script>
    <script src="/javascripts/all.js"></script>
    <!-- ALL PLUGINS -->
    <script src="/javascripts/custom.js"></script>
	  <script src="/javascripts/timeline.min.js"></script>
	<script>
		timeline(document.querySelectorAll('.timeline'), {
			forceVerticalMode: 700,
			mode: 'horizontal',
			verticalStartPosition: 'left',
			visibleItems: 4
		});
	</script>
  <script language = "text/Javascript">
    cleared[0] = cleared[1] = cleared[2] = 0; //set a cleared flag for each field
    function clearField(t){                   //declaring the array outside of the
    if(! cleared[t.id]){                      // function makes it static and global
        cleared[t.id] = 1;  // you could use true and false, but that's more typing
        t.value='';         // with more chance of typos
        t.style.color='#fff';
        }
    }
  </script>
</body>
</html>
